html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.star-group {
display: flex;
flex-direction: row-reverse; /* Allows us to use the ~ selector correctly */
justify-content: flex-end;
}

.star-group input {
    display: none; /* Hide actual radio buttons */
}

.star-group label {
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    margin-right: 5px;
}

    /* Hover and Checked states */
    .star-group input:checked ~ label,
    .star-group label:hover,
    .star-group label:hover ~ label {
        color: #ffc107; /* Gold color */
    }
